In [10]:
import datetime
a = input("What is your name: ")
b= input ("What is your age: ")
print(f"{a} you will turn 100 years in the year {datetime.datetime.now().year + 100 -int(b)}")

TOmáš you will turn 100 years in the year 2093

In [18]:

table = []
for i in range(10):
    table.append([])
    for j in range(10):
        table[i].append((i+1)*(j+1))
for i in range(10):
    print(table[i])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [20]:
a = {"auto":3,"koláč":4}
b = {"bagr":4,"trouba":7}
print(a | b)

{'auto': 3, 'koláč': 4, 'bagr': 4, 'trouba': 7}

In [22]:
def calculate_tax(income):
    if income <= 5000:
        return 0
    if income <= 10000:
        return income * 0.1
    else:
        return income * 0.2
print(calculate_tax(5))
print(calculate_tax(7000))
print(calculate_tax(13000000))

0
700.0
2600000.0

In [25]:
def reutrn_squared(input_dict):
    dictionary = {}
    for i in input_dict:
        dictionary[i] = i**2
    return dictionary
print(reutrn_squared(list(range(100))))
def switch_key_for_values(dictionary):
    new_dictionary = {}
    print([pair for pair in dictionary])
    new_dictionary.update([pair for pair in dictionary])
    return new_dictionary
print(switch_key_for_values(reutrn_squared(list(range(100)))))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

TypeError: cannot convert dictionary update sequence element #0 to a sequence